<body>
    <nav>
        <ul>
            <li>
                <div class="nav-box">
                    <a href="/" class="active">
                        <center>
                        <i class="fas fa-home fa-lg"></i>
                        <label>Home</label>
                        </center>
                    </a>
                </div>
            </li>
            <li>
                <div class="nav-box">
                    <a href="/#about">
                    <center>
                        <i class="fas fa-info-circle fa-lg"></i>
                        <label>About</label>
                    </center>
                    </a>
                </div>
            </li>
            <li>
                <div class="nav-box">
                    <a href="/projects">
                    <center>
                        <i class="fas fa-code fa-lg"></i>
                        <label>Projects</label>
                    </center>
                    </a>
                </div>
            </li>
            <li>
                <div class="nav-box">
                    <a href="/achievements">
                    <center>
                        <i class="fas fa-trophy"></i>
                        <label>Achievements</label>
                    </center>
                    </a>
                </div>
            </li>
            <li>
                <div class="nav-box">
                    <a href="/contactus">
                        <center>
                            <i class="fas fa-phone-alt fa-lg"></i>
                            <label>Contact</label>
                        </center>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img class="logoCorner1" src="{{ url_for('static', filename = './img/logo_white.png') }}" alt="">
        <br>
        <a href="/">Home</a>
        <a href="/index#about">About</a>
        <a href="/Projects">Projects</a>
        <a href="/achievements">Achievements</a>
        <a href="/contactus">Contact</a>        
    </div>

{% block body %} {% endblock %}

</body>
